<!--  
<div *ngFor="let persona of personas">
<div>{{persona.nombre}}</div>
</div> -->


    
<h2>SOBRE MI</h2>
<div class="header-bar"></div>

        <div class="servicios" id="sobre-mi"> 

            <section class="servicio">
                
                <div class="iconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-run" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="13" cy="4" r="1" />
                        <path d="M4 17l5 1l.75 -1.5" />
                        <path d="M15 21l0 -4l-4 -3l1 -6" />
                        <path d="M7 12l0 -3l5 -1l3 3l3 1" />
                      </svg>
                </div>
                <span>Fast</span>    
                <p class="descripcion-icono">Rápido tiempo de acceso e interacciones libre de lag, mi más alta prioridad.</p>
            </section>
        

            <section class="servicio">
                
                <div class="iconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-devices" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <rect x="13" y="8" width="8" height="12" rx="1" />
                        <path d="M18 8v-3a1 1 0 0 0 -1 -1h-13a1 1 0 0 0 -1 1v12a1 1 0 0 0 1 1h9" />
                        <line x1="16" y1="9" x2="18" y2="9" />
                      </svg>
                </div>
                <span>Responsive</span>
                <p class="descripcion-icono">Mis diseños funcionarán en cualquier dispositivo, grande o pequeño. </p>
            </section>
        
        
            <section class="servicio">
                
                <div class="iconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bulb" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" />
                        <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
                        <line x1="9.7" y1="17" x2="14.3" y2="17" />
                      </svg>
                </div>
                <span>Intuitive</span>
                <p class="descripcion-icono">Una fuerte preferencia por "fácil de usar". UX/UI Intuitivo. </p>
            </section>

            <section class="servicio">
                
                <div class="iconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rocket" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" />
                        <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" />
                        <circle cx="15" cy="9" r="1" />
                      </svg>
                </div>
                <span>Dynamic</span>
                <p class="descripcion-icono">Las páginas Web no tiene por qué ser estáticas. Mi principal objetivo es que las páginas cobren vida. </p>
            </section>
        </div> <!--.servicios-->
        
        

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="body">
            <div  *ngFor="let persona of personas" class="container">
                
                <div class="foto-hexagon">
                  <div class="shape">
                    <img src={{persona?.urlImagen}} alt="">
                    <div class="content">
                        <div>
                            <p class="sobre-mi">{{persona?.sobreMi}}</p>
                            <div class="float-right btn-group btn-group-sm" id="main-container" *ngIf="isAdmin">
                                <a (click)="onOpenModal(persona, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                               <!-- <a (click)="onOpenModal(persona, 'delete')"class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>                     </div> -->
                            
                        </div>
                        </div>
                        
                    </div>
                    
                  </div>
                  
                </div>
                        
            </div>
            
        </div>


<!-- Modal Persona -->
<div class="modal fade" id="updatePersonaModal" tabindex="-1" aria-labelledby="updatePersonaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updatePersonaModal">Editar Perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
          <form #editForm="ngForm">
              <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" ngModel="{{editPersona?.nombre}}" name="nombre"
                  class="form-control" id="name" placeholder="Nombre">
              </div>
              <input type="hidden" ngModel="{{editPersona?.id}}" name="id" class="form-control" id="id">
              <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input type="text" ngModel="{{editPersona?.apellido}}" name="apellido"
                  class="form-control" id="apellido" placeholder="Apellido">
              </div>
              <div class="form-group">
                  <label for="correo">Email</label>
                  <input type="email" ngModel="{{editPersona?.correo}}" name="correo" class="form-control" id="correo" placeholder="Email">
              </div>
              <div class="form-group">
                  <label for="telefono">Telefono</label>
                  <input type="tel" ngModel="{{editPersona?.telefono}}" name="telefono" class="form-control" id="telefono" placeholder="Telefono">
              </div>
              <div class="form-group">
                  <label for="sobreMi">Sobre mi</label>
                  <textarea type="text" ngModel="{{editPersona?.sobreMi}}" name="sobreMi" class="form-control" id="sobreMi" placeholder="Sobre mi"></textarea>
              </div>
              <div class="form-group">
                <label for="urlImagen">Url foto perfil</label>
                <textarea type="text" ngModel="{{editPersona?.urlImagen}}" name="urlImagen" class="form-control" id="urlImagen" placeholder="URL imagen"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="onUpdatePersona(editForm.value)" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>