

<!-- <div class="tab-pane show active" id="exp-container">
    <button type="button" (click)="onOpenModal(null!,'add')">Agregar exp</button>


    <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
        Experience</h5>

    <ul *ngFor="let experiencia of experiencias" class="list-unstyled timeline-sm">
         
        <button type="button" (click)="onOpenModal(experiencia, 'delete')">Eliminar exp</button>
        <button type="button" (click)="onOpenModal(experiencia, 'edit')">Modificar exp</button>
        <li class="timeline-sm-item">
            <span class="timeline-sm-date">{{experiencia?.fechaInicio}} - {{experiencia?.fechaFin}}</span>
            <h5 class="mt-0 mb-1">{{experiencia?.puesto}}</h5>
            <p>{{experiencia?.nombreEmpresa}}</p>
            <p class="text-muted mt-2">{{experiencia?.descripcion}}</p>

        </li>
        
    </ul>
</div> -->

<div id="exp-container">
  <h2 class="skills">Experiencia <button (click)="onOpenModal(null!,'add')" type="button" class="botones_contenido" *ngIf="isAdmin">
    <i class="fa-solid fa-plus"></i></button></h2>
    <div class="header-bar"></div>
  <div class="main-timeline" id="experiencia" >
    
                          <!-- start experience section-->
                          <div class="timeline" *ngFor="let exp of experiencias">
                            <span id="eliminar-editar-estudios" *ngIf="isAdmin">                        
                              <button type="button" class="botones_contenido" (click)="onOpenModal(exp,'edit')">
                                  <i class="fa-solid fa-pen"></i>
                              </button>
                              <button (click)="onOpenModal(exp,'delete')" type="button" class="botones_contenido">
                                  <i class="fa-solid fa-eraser"></i>   
                              </button>
                          </span>
                              <div class="icon"></div>
                              <div class="date-content">
                                  <div class="date-outer">
                                      <span class="date">
                                              <span class="month">2 Years</span>
                                      <span class="year">{{exp.fechaInicio}}</span>
                                      </span>
                                      
                                  </div>
                              </div>
                              <div class="timeline-content">
                                  <h5 class="title">{{exp.puesto}}</h5>
                                  <p class="description">
                                       {{exp.descripcion}}
                                  </p>
                              </div>
                          </div>
                          <!-- end experience section-->
  
                          
  
                      </div>
  </div>

<!-- Modal Experiencia Agregar -->
<div class="modal fade" id="addExperienciaModal" tabindex="-1" aria-labelledby="addExperienciaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addExperienciaModal">Agregar Experiencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
              <div class="form-group">
                  <label for="nombreEmpresa">Empresa</label>
                  <input type="text" ngModel name="nombreEmpresa"
                  class="form-control" id="nombreEmpresa" placeholder="Empresa">
              </div>
    
              <div class="form-group">
                  <label for="puesto">Puesto</label>
                  <input type="text" ngModel name="puesto"
                  class="form-control" id="puesto" placeholder="Puesto">
              </div>

              <div class="form-group">
                  <label for="fechaInicio">Fecha Inicio</label>
                  <input type="fechaInicio" ngModel name="fechaInicio" class="form-control" id="fechaInicio" placeholder="Fecha Inicio">
              </div>

              <div class="form-group">
                  <label for="fechaFin">Fecha Fin</label>
                  <input type="fechaFin" ngModel name="fechaFin" class="form-control" id="fechaFin" placeholder="Fecha Fin">
              </div>

              <div class="form-group">
                  <label for="descripcion">Descripcion</label>
                  <textarea type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="Descripcion"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" id="add-experiencia-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>  
          </form>
        </div>        
      </div>
    </div>
</div>


<!-- Modal Experiencia Modificar  -->
<div class="modal fade" id="updateExperienciaModal" tabindex="-1" aria-labelledby="updateExperienciaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateExperienciaModal">Editar Perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
          <form #editForm="ngForm">
              <div class="form-group">
                  <label for="nombreEmpresa">Empresa</label>
                  <input type="text" ngModel="{{editExperiencia?.nombreEmpresa}}" name="nombreEmpresa"
                  class="form-control" id="nombreEmpresa" placeholder="Empresa">
              </div>
              <input type="hidden" ngModel="{{editExperiencia?.id}}" name="id" class="form-control" id="id">
    
              <div class="form-group">
                  <label for="puesto">Puesto</label>
                  <input type="text" ngModel="{{editExperiencia?.puesto}}" name="puesto"
                  class="form-control" id="puesto" placeholder="Puesto">
              </div>

              <div class="form-group"> 
                  <label for="fechaInicio">Fecha Inicio</label>
                  <input type="fechaInicio" ngModel="{{editExperiencia?.fechaInicio}}" name="fechaInicio" class="form-control" id="fechaInicio" placeholder="Fecha Inicio">
              </div>

              <div class="form-group">
                  <label for="fechaFin">Fecha Fin</label>
                  <input type="fechaFin" ngModel="{{editExperiencia?.fechaFin}}" name="fechaFin" class="form-control" id="fechaFin" placeholder="Fecha Fin">
              </div>

              <div class="form-group">
                  <label for="descripcion">Descripcion</label>
                  <textarea type="text" ngModel="{{editExperiencia?.descripcion}}" name="descripcion" class="form-control" id="descripcion" placeholder="Descripcion"></textarea>
              </div>
             
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onUpdateExperiencia(editForm.value)" class="btn btn-primary">Save changes</button>
          </div>  
      </div>
    </div>
</div>  

<!-- Modal Eliminar -->
<div class="modal fade" id="deleteExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Eliminar Experiencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden= "true">&times; </span>    
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de eliminar experiencia?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteExperiencia(deleteExperiencia!.id)" type="button" class="btn btn-danger" data-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>