<app-menu></app-menu>
<!-- <app-acerca-de></app-acerca-de>
<app-estudios></app-estudios>
<app-habilidades></app-habilidades>
<app-experiencia></app-experiencia>
<app-logros></app-logros>
<app-footer></app-footer> -->

 <!-- <div *ngIf="isLogged; else loggedOut"> -->
 <!-- <div *ngIf="isLogged"> -->
    
     <!-- <app-encabezado></app-encabezado>  -->
     <!-- <app-menu></app-menu>  -->
     <app-acerca-de></app-acerca-de>
     <app-estudios></app-estudios>
     <app-habilidades></app-habilidades>
     <app-experiencia></app-experiencia>
     <app-logros></app-logros>
     <app-footer></app-footer>
     <a href="#" class="subir"><i class="fa-solid fa-angles-up"></i></a>
<!-- <ng-template #loggedOut>Iniciá sesión</ng-template> -->
 
 

  
  
  
