.subir {
    height: 35px;
    width: 35px;
    background-color: var(--navy);
    border: 2px solid rgb(80, 71, 71);
    box-shadow: 0 0 5px rgb(46, 41, 45);
    position: fixed;
    bottom: 65px;
    right: 20px;
    font-size: 25px;
    opacity: 75%;
}



.subir i {
    font-size: 1.5rem;
    padding: 1rem;
    
}