<div  id="hss-container">
    <button type="button" (click)="onOpenModal(null!,'add')">Agregar skill</button>
    <div *ngFor="let skill of skills">
        <button type="button" (click)="onOpenModal(skill, 'delete')">Eliminar exp</button>
    <button type="button" (click)="onOpenModal(skill, 'edit')">Modificar exp</button>
    <div>{{skill.nombreSkill}}</div>
    <div>{{skill.tipoSkill}}</div>
    <div>{{skill.porcentaje}}</div> 
    </div>
    
</div>

<!-- Modal Experiencia Agregar -->
<div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSkillModal">Agregar Educacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm)">
              <div class="form-group">
                  <label for="nombreSkill">Skill</label>
                  <input type="text" ngModel name="nombreSkill"
                  class="form-control" id="nombreSkill" placeholder="Skill">
              </div>
    
              <div class="form-group">
                  <label for="tipoSkill">Tipo</label>
                  <input type="text" ngModel name="tipoSkill"
                  class="form-control" id="tipo" placeholder="Tipo">
              </div>

              <div class="form-group">
                  <label for="porcentaje">Porcentaje</label>
                  <input type="number" ngModel name="porcentaje" class="form-control" id="porcentaje" placeholder="Porcentaje">
              </div>

              <div class="modal-footer">
                <button type="button" id="add-skill-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>  
          </form>
        </div>        
      </div>
    </div>
</div>


<!-- Modal Experiencia Modificar  -->
<div class="modal fade" id="updateSkillModal" tabindex="-1" aria-labelledby="updateSkillModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateSkillModal">Editar Perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
          <form #editForm="ngForm">
              <div class="form-group">
                  <label for="nombreSkill">Skill</label>
                  <input type="text" ngModel="{{editSkill?.nombreSkill}}" name="nombreSkill"
                  class="form-control" id="nombreSkill" placeholder="Skill">
              </div>
              <input type="hidden" ngModel="{{editSkill?.id}}" name="id" class="form-control" id="id">
    
              <div class="form-group">
                  <label for="tipoSkill">Tipo</label>
                  <input type="text" ngModel="{{editSkill?.tipoSkill}}" name="tipoSkill"
                  class="form-control" id="tipoSkill" placeholder="Tipo">
              </div>

              <div class="form-group"> 
                  <label for="porcentaje">Porcentaje</label>
                  <input type="number" ngModel="{{editSkill?.porcentaje}}" name="porcentaje" class="form-control" id="porcentaje" placeholder="Porcentaje">
              </div>

        
             
          </form>
        </div>
        <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onUpdateSkill(editForm.value)" class="btn btn-primary">Save changes</button>
        </div>  
      </div>
    </div>
</div>  

<!-- Modal Eliminar -->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Eliminar Experiencia</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden= "true">&times; </span>    
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de eliminar experiencia?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteSkill(deleteSkill!.id)" type="button" class="btn btn-danger" data-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
</div>
