<!-- <div *ngFor="let proyecto of proyectos">
    <div>{{proyecto.descripcion}}</div>
    </div> -->


    <div class="fondo">
      <div class="fondo" id="proyectos">
          <div class="contenido" id="pro-container">
              <div class="proyectostitulo">
                  <h2 class="proyectos">Proyectos <button (click)="onOpenModal(null!,'add')" type="button" class="botones_contenido" *ngIf="isAdmin">
                  <i class="fa-solid fa-plus"></i>
                  </button></h2>
                  <div class="header-bar"></div>
              </div>
              
              <div class="flex">
                  <div class="efectohover" *ngFor="let proy of proyectos">
                      <div class="imagenproyecto">
                          <div class="imagenabajo">
                              <a href=# target="_blank"><img src={{proy.urlProyecto}} alt="Fotografía del proyecto"></a> 
                              
                            <div class="overlay">
                              <div class="text">{{proy.descripcion}} <br> {{proy.fecha}}</div>
                              
                            </div>

                              <div class="textoarriba" id="eliminar-editar-proyectos" *ngIf="isAdmin">
                                  <button (click)="onOpenModal(proy,'edit')" type="button" class="botones_contenido">
                                  <i class="fa-solid fa-pen"></i>
                                  </button>
                                  <button (click)="onOpenModal(proy,'delete')" type="button" class="botones_contenido">
                                  <i class="fa-solid fa-eraser"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
    <!-- Modal Experiencia Agregar -->
    <div class="modal fade" id="addProyectoModal" tabindex="-1" aria-labelledby="addProyectoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProyectoModal">Agregar Proyecto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddProyecto(addForm)">
                  <div class="form-group">
                      <label for="fecha">Fecha</label>
                      <input type="text" ngModel name="fecha"
                      class="form-control" id="fecha" placeholder="Fecha|">
                  </div>
        
                  <div class="form-group">
                      <label for="descripcion">Descripción</label>
                      <input type="text" ngModel name="descripcion"
                      class="form-control" id="descripcion" placeholder="Descripcion">
                  </div>
    
                  <div class="form-group">
                      <label for="urlProyecto">URl Logo</label>
                      <textarea type="text" ngModel name="urlProyecto" class="form-control" id="urlProyecto" placeholder="urlProyecto"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="add-proyecto-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                  </div>  
              </form>
            </div>        
          </div>
        </div>
    </div>
    
    
    <!-- Modal Experiencia Modificar  -->
    <div class="modal fade" id="updateProyectoModal" tabindex="-1" aria-labelledby="updateProyectoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateProyectoModal">Editar Perfil</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body">
              <form #editForm="ngForm">
                  <div class="form-group">
                      <label for="fecha">Fecha</label>
                      <input type="text" ngModel="{{editProyecto?.fecha}}" name="fecha"
                      class="form-control" id="fecha" placeholder="fecha">
                  </div>
                  <input type="hidden" ngModel="{{editProyecto?.id}}" name="id" class="form-control" id="id">
        
                  <div class="form-group">
                      <label for="descripcion">Descripcion</label>
                      <input type="text" ngModel="{{editProyecto?.descripcion}}" name="descripcion"
                      class="form-control" id="descripcion" placeholder="Descripcion">
                  </div>
    
                  <div class="form-group">
                      <label for="descripcion">Url Proyecto</label>
                      <textarea type="text" ngModel="{{editProyecto?.urlProyecto}}" name="urlProyecto" class="form-control" id="urlProyecto" placeholder="Link"></textarea>
                  </div>
                 
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="onUpdateProyecto(editForm.value)" class="btn btn-primary">Save changes</button>
              </div>  
          </div>
        </div>
    </div>  
    
    <!-- Modal Eliminar -->
    <div class="modal fade" id="deleteProyectoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Eliminar Experiencia</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden= "true">&times; </span>    
              </button>
            </div>
            <div class="modal-body">
              <p>¿Estás seguro de eliminar experiencia?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button (click)="onDeleteProyecto(deleteProyecto!.id)" type="button" class="btn btn-danger" data-dismiss="modal">Si</button>
            </div>
          </div>
        </div>
      </div>
    