/* You can add global styles to this file, and also import other style files */

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --font-heading: 'Encode Sans', sans-serif;
    --font-banner: 'Raleway', sans-serif;
}

/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *:after {
    -sizing: content-box;
}

h2 {

    margin-top: 4rem;
    /* margin-bottom: 11rem; */
    text-align: center;
    font-family: var(--font-banner);
    font-weight: 700;
    font-size: 4rem;
   
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}


.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}


h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}



.iconos {
    display: flex;
    justify-content: right;
    gap: 1rem;    
}

/*Header */


/* .acerca-de {
    display: flex;
    flex-direction: column;
} 
*/
.nom-seccion {
    margin: 0;
}

.barra-edit {
     position: relative; 
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid black;
}

.acerca-de-contenido {
    border-bottom: 1.5px solid black;
    position: relative; 
}

.acerca-de-texto {
    margin-top: 2rem;
}

.botones-seccion {
    position: absolute;
    
    top: 0;
    right: 0;
    margin-top: -2rem;
}





